.SearchResult {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.SearchResult p {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}

.SearchResult p:hover {
  background-color: #cccccc;
}
